
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: black;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px;
}
#app .router-link-active{
  color: var(--el-color-primary);
}